<h1>{{titulo}}</h1>
<form>
    <div class="form-group">
      <label>Primer Numero</label>
      <input
       type="number"
       class = "form-control"
       placeholder = "Escriba un numero"
       [(ngModel)] = "primerNumero"
       name = "Primer Numero"
       />
    </div>
    <div class="form-group">
      <label>Segundo Numero</label>
      <input
       type="number"
       class = "form-control"
       placeholder = "escriba un numero"
       [(ngModel)] = "segundoNumero"
       name = "Segundo Numero"
       />
    </div>
    <button type="submit" class="btn btn-primary"
    (click)="onSumar()">Enviar</button>
</form>
<p>Resultado {{resultado}}</p>